* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 112.5%;
    line-height: 1.5;
}
.container {
    max-width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #F9F9F9;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
header {
    color:#4831d4;
    /* color: #ccf381; #3d155f */
    padding: 10px;
    margin-top: 10px;
    vertical-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 5px 0 0;
    text-transform: uppercase;
}
h1 .thin {
    font-weight: 300;
}
h1 .bold {
    font-weight: 700;
}
header p {
    color: #3d155f;
    padding: 5px 0;
    border-top: 1px solid #3d155f;
    margin-bottom: 10px;
}
.button {
    border: 1px solid #4831d4;
    padding: 5px 25px;
    border-radius: 4px;
    color: #4831d4;
    text-decoration: none;
    box-shadow: 0px 2px 2px rgba(0,104,216, 20%);
    flex-grow: 1;
    flex-basis: 0;
}
.nav-btn:hover {
    background-color: #6551db;
    color: white;
    transition-duration: 500ms;
}
nav {
    margin: 0 0;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
figure {
    margin: 10px 0;
}
img {
    width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
    color: #3d155f;
    font-size: 0.8rem;
}
ul {
    list-style: none;
}
/* skills section */
#skills{
    border: 1px solid #3d155f;
    background-color: #4831d4;
    color:#ccf381; 
    /* #4831d4; */
    padding-bottom: 25px;
} 
.frontend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-container {
    width: 100%;
}
.frontend-skills-liste {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-wrap: wrap;
}
.frontend-skills-liste li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.frontend-skills h2 {
    margin: 15px 0 15px;
}
.list-btn {
    color: white;
    border-color: #ccf381;
}
li i {
    font-size: 1.5rem;
}
/* contact section */
#contact {
    color: #4831d4;
}

address {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.address {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}




