* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 112.5%;
    line-height: 1.5;
    background-color: #f1f5f9;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}
.container {
    max-width: 1292px;
    margin: 0 auto;
}
/* header section */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 1.5rem;
    background-color: #9bd0ef19;
}
#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
    
}
#title h1 {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: #000000;
  }
#title p {
    text-transform: lowercase;
    border-top: 1px solid #3d155f;
    padding-top: 0.5rem;
    color: black;
    font-size: 0.9rem;
  }
.thin {
    font-weight: 300;
}
header nav ul{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    flex-wrap: wrap;
}
header nav li {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
header nav li a {
    color: black;
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.4rem 1.5rem;
    border: 1px solid #9bd0ef;
}
.btn {
  border: 1px solid #9bd0ef;
  padding: 5px 25px;
  border-radius: 25px;
}
header nav a:hover {
  color: #2d78a3;
  font-size: 1.1rem;
  background-color: #9bd0ef;
}
/* skills-section */
#skills {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    color: #000;
    gap: 1rem;
}
#skills figure {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
figcaption {
  color: #000;
  font-size: 0.9rem;
}
.skills-ctn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 1rem;
  }
.skills-item {
  display: flex;
  flex-direction: column;
}
.skills-item h2 {
  margin-bottom: 1rem;
}
.skills-ctn ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.2rem; 
} 
.skills-item ul li {
    color: #fff;
    background-color: #2d78a3;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
}
/* contact section */
#contact {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 1px solid #9bd0ef;
  border-bottom: 1px solid #9bd0ef;
  display: flex;
  flex-direction: column;
}
#contact h2 {
  margin-bottom: 1.5rem;
}
address {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  gap: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2rem
}
.address-item {
  padding: 2rem 0;
  background-color: #9bd0ef19;
  border-radius: 25px;
  flex-grow: 1;
  flex-basis: 0;
  padding: 2rem;
}
.address-item i {
  font-size: 1.5rem;
  color: #fff;
  background-color: #2d78a3;
  border: 1px solid #9bd0ef;
  padding: 1rem;
  border-radius: 20px;
}
.address-item p {
  font-size: 1rem;
  margin-top: 0.7rem;
}
/* works section */
#works {
  text-align: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #9bd0ef;
}
#works h2 {
  margin-bottom: 1.5rem;
}
.works-ctn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  padding: 0 2rem;
  gap: 1rem;
}
.works-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid #9bd0ef;
  border-radius: 8px;
}
.works-item img {
  padding: 1rem;
  align-self: center;
}
.works-item h3 {
  padding: 1rem 0;
  background-color: #9bd0ef19;
}
.works-item:hover {
  background-color: #9bd0efd0;
}
/* about me section */
#about-me {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 2rem;
  flex-wrap: wrap;
}
.about-me-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  flex-basis: 0;
  background-color: #9bd0ef19;
  border-radius: 25px;
  padding: 1.5rem;
}
.about-me-ctn h2{
  align-self: center;
  border-bottom: 1px solid #3d155f;
  margin-bottom: 1.5rem;
}
table  {
  border-collapse: collapse;
}
td {
  text-align: left;
  padding: 0.5rem;
  vertical-align: top;
}
footer {
  background-color: #2d78a3;
  padding: 1.5rem 0;
  text-align: center;
  color: #fff;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* media queries */
@media (min-width: 800px){
    /* header-start */
    #title {
        align-items: flex-start;
        text-align: left;
    }
    header {
        justify-content: space-between;
        
    }
    /* header-end */
}