.contact {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 1px solid #9bd0ef;
  border-bottom: 1px solid #9bd0ef;
  display: flex;
  flex-direction: column;
}
.contact__header {
  margin-bottom: 1.5rem;
}
.contact__address {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  gap: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2rem;
}
.address__ctn {
  padding: 2rem 0;
  background-color: #9bd0ef19;
  border-radius: 25px;
  flex-grow: 1;
  flex-basis: 0;
  padding: 2rem;
}
.address__icon {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
}
.address__icon--white {
  color: #fff;
  background-color: #2d78a3;
}
.address__text {
  font-size: 1rem;
  margin-top: 0.7rem;
}
