.header {
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.5rem;
  background-color: #9bd0ef19;
}
.header__title-ctn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}
.header__title {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
.header__title--black {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: black;
}
.header__subtitle {
  text-transform: lowercase;
  border-top: 1px solid #3d155f;
  padding-top: 0.5rem;
}
.header__subtitle--black{
  color: black;
  font-size: 0.9rem;
}
/* media queries */ 

@media (min-width: 800px) { 
  
  .header {
    justify-content: space-between;
  }
  .header__title-ctn {
    align-items: flex-start;
    text-align: left;
  }
}
/* media queries end */