.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem 1.5rem;
  background-color: #9bd0ef19;
}
#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}
#title h1 {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: #000000;
}
#title p {
  text-transform: lowercase;
  border-top: 1px solid #3d155f;
  padding-top: 0.5rem;
  color: black;
  font-size: 0.9rem;
}
.thin {
  font-weight: 300;
}
.btn {
  border: 1px solid #9bd0ef;
  padding: 5px 25px;
  border-radius: 25px;
}
