* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  background-color: #f1f5f9;
}
.body__ctn {
  max-width: 1292px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
