@import "./base.css";
@import "./utility.css";

@import "./colors.css";
@import "./components/header.css";
@import "./components/nav-bar.css";
@import "./components/button.css";
@import "./components/skills.css";
@import "./components/contact.css";
@import "./components/works.css";
@import "./components/about-me.css";

.footer {
  background-color: #2d78a3;
  padding: 1.5rem 0;
  text-align: center;
  color: #fff;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/* media queries */
@media (min-width: 800px) {
  /* header-start */
  .header__title-ctn {
    align-items: flex-start;
    text-align: left;
  }
  .header {
    justify-content: space-between;
  }
}
/* .header-end */
